.redeem-page-wrapper {
  background-color:#FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;

  .redeem-header {
    display: flex;
    flex-direction: row;
    height: 64px;
    align-items: center;
    margin: 16px 0px 16.34px 240px;
  }

  .greeting-message {
    display: flex;
    background: #F5F5F5;
    // justify-content: center;
    align-items: center;
    margin-bottom: 86px;
    height: 320px;

    .greeting-message-text {
      font-size: 45.23px;
      line-height: 54.28px;
      width: 635px;
      margin-left: 240px;
      margin-right: 59px;
      font-weight: 650;
    }
  }

  .redeem-steps-wrapper {
    // height: 400px;

    .redeem-step-text {
      display: flex;
      font-size: 32px;
      color: #CC0000;
      justify-content: center;
      align-items: center;
      font-weight: 650;
    }

    .redeem-step-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      .redeem-step-bottom-text {
        font-size: 11.32px;
        font-weight: 700;
        color: #2A2A2A;
        width: 492px;
        margin: 20px 0px;
        line-height: 15.41px;
      }
    }

    .redeem-steps {
      display: flex;
      flex-direction: row;
      justify-content: center;
      // height: 400px;
      .redeem-steps-1 {
        // border: 2px solid red ;
        width: 500px;
        display: flex;
        // justify-content: center;
        margin-top: 70px;
        align-items: center;
        flex-direction: column;
        .redeem-circle {
          background-color: #CC0000;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          color: #FFFFFF;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 36px;
        }
        .redeem-circle-text {
          color: #2A2A2A;
          size: 16px;
          width: 280px;
          margin: 20px 0px
        }
      }

      .redeem-steps-2 {
        // border: 2px solid red ;
        width: 500px;
        display: flex;
        // justify-content: center;
        margin-top: 70px;
        align-items: center;
        flex-direction: column;
        .redeem-circle {
          background-color: #CC0000;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          color: #FFFFFF;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 36px;
        }

        .redeem-circle-text-1 {
          color: #2A2A2A;
          size: 16px;
          width: 280px;
          margin: 20px 0px;
        }

        .redeem-circle-text-2 {
          color: #2A2A2A;
          size: 16px;
          width: 280px;
          margin: 20px 0px
        }
      }

      .redeem-steps-3 {
        // border: 2px solid red ;
        width: 500px;
        display: flex;
        // justify-content: center;
        margin-top: 70px;
        align-items: center;
        flex-direction: column;

        .redeem-circle {
          background-color: #CC0000;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          color: #FFFFFF;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 36px;
        }

        .redeem-circle-text {
          color: #2A2A2A;
          size: 16px;
          width: 280px;
          margin: 20px 0px
        }
      }
    }
  }

  .form-wrapper {
    display: flex;
    height: 944px;
    // border: 1px solid red;
    margin: 20px 0px;

    .form-title {
      font-weight: 850;
      font-size: 32px;
      line-height: 38.39px;
    }

    .form-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 21.79px;
    }

    .form-container {
      width: 25%;
      margin-top: 20px;
      .text_field_black .MuiInputLabel-formControl{
        color: black !important;
        width: 384px !important;
      }

      .text_field_black .MuiInputBase-input{
        color: black !important;
        width: 384px !important;
      }

      .MuiInput-underline::before {
        border-bottom: 1px solid black !important;
      }

      .MuiInput-underline::after{
        // border-bottom: 2px solid white !important;
        border-bottom: 2px solid black !important;
      }

      .MuiInput-underline.Mui-error::before {
        border-bottom: 1px solid rgb(255, 83, 83) !important;
      }

      .MuiInput-underline.Mui-error::after {
        border-bottom: 2px solid rgb(255, 83, 83) !important;
      }

      .recaptcha {
        padding: 20px;
      }

      .btn-action {
        display: flex;
        justify-content: center;
        .btn-submit {
          color: white !important;
          background: #668000 !important;
          border-radius: 8px !important;
          width: 400px;
          border: 2px solid  #668000 !important;
      }
      }
    }
  }
}